form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}
.response-section {
    h2{
        margin-bottom: 20px;
    }
    .title{

        margin-bottom: 20px;
    }
     .date-reservation{
         margin-bottom: 20px;
      }
      .reload{
          margin-top: 20px;
      }

}